@model IEnumerable<GetAllCharactersViewModel>

@{
    ViewData["Title"] = "All characters";

    bool isHaveUpdatePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.EDITOR_ROLE_NAME);

    bool isHaveCreatePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}


<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <h1>
        All characters
    </h1>
    @if (isHaveCreatePermissions)
    {
        <div>
            <a class="btn btn-outline-danger" asp-action="Create">Create Character</a>
        </div>
    }
</div>
<table class="table text-white mt-5">
    <tbody>
        @if (Model.Count() == 0)
        {
            <div class="pt-5 text-center">
                <h3 style="color: red">No characters available for display!</h3>
            </div>
        }
        else
        {
            @foreach (GetAllCharactersViewModel characters in Model)
            {
                <tr>
                    <td>
                        <div class="chapter-form">
                            <div class="chapter-info">
                                <div class="chapter-title">
                                    Character name: <span>@characters.Name</span>
                                </div>
                                <div class="pt-5">
                                    <a class="options-bar" asp-controller="Characters" asp-action="Details" asp-route-id="@characters.Id">
                                        <span>Details</span>
                                    </a>
                                    @if (isHaveUpdatePermissions)
                                    {
                                        <span>|</span>
                                        <a class="options-bar" asp-controller="Characters" asp-action="Update" asp-route-id="@characters.Id">
                                            Update
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
