@model IEnumerable<GetAllCharactersViewModel>

@{
    ViewData["Title"] = "All characters";

    bool isHaveUpdatePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.EDITOR_ROLE_NAME);

    bool isHaveCreatePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<h1>Characters</h1>
<br />
@if (isHaveCreatePermissions)
{
    <div>
        <a class="btn btn-outline-danger" asp-action="Create">Create Character</a>
    </div>
}
<br />
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GetAllCharactersViewModel character in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => character.Name)
                </td>
                <td>
                    <a class="options-bar" asp-controller="Characters" asp-action="Details" asp-route-id="@character.Id">
                        <span>Details</span>
                    </a>

                    @if (isHaveUpdatePermissions)
                    {
                        <span>|</span>
                        <a class="options-bar" asp-controller="Characters" asp-action="Update" asp-route-id="@character.Id">
                            Update
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
