@model UpdateCharactersBindingModel

@{
    ViewData["Title"] = $"Update - {Model.Name}";
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1>Update: <b>@Model.Name</b></h1>
    </div>
</div>
<div class="row mt-5">
    <div class="mx-auto" style="width: 30%">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ability" class="control-label"></label>
                <input asp-for="Ability" class="form-control" />
                <span asp-validation-for="Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangaId" class="control-label"></label>
                <select asp-for="MangaId" class="form-control">
                    @foreach (var manga in ViewBag.Mangas)
                    {
                        <option value="@manga.Id">@manga.Name</option>
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-danger w-50 mt-2" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
