@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Добре дошли!</h1>
    </div>
}
else
{
    <div class="text-center mt-3">
        <h1>Създай своя манга поредица</h1>
    </div>
    <div class="pt-3">
        <img class="mySlides" src="~/Img/ImageForSlideShow/One-Piece-Manga.jpg">
        <img class="mySlides" src="~/Img/ImageForSlideShow/my-hero-academia-Manga.jpg">
        <img class="mySlides" src="~/Img/ImageForSlideShow/Naruto-Manga.jpg">
        <script src="~/js/site.js"></script>
    </div>
    
}

