@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Добре дошли!</h1>
    </div>
}
else
{
    //Банер, който да върти снимки
    //Aside, в който ще стоят последните 3-4 създадени анимета.

    <div class="text-center mt-3">
        <h1>Винаги сте мечтали да създадете ваша манга поредица?</h1>
    </div>

    <div class="mt-5">
        <ol>
            <li class="font-weight-bold">Как да си направите ваша манга поредица?</li>
        </ol>
    </div>
}

