@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 class="pt-3">Политика за поверителност</h3>
<p>
    Прилагаме политика за защита на личните данни както за данни, събирани от вас чрез нашия интернет сайт.
</p>
<h3 class="pt-2">Събиране на данни</h3>
<p>
    Данни, които Вие споделяте с нас:
    <ul>
        <li>За регистрация и управление на Вашия профил;</li>
        <li>За да имате възможност да гласувате;</li>
        <li>За да имате възможност да разглеждате;</li>
    </ul>
</p>
