@model GetAllTopMangasViewModel

@{
    ViewData["Title"] = "Top mangas";

    int rank = 0;

}

<div>
    <table class="topmanga-table">
        <tbody>
            <tr class="bg-secondary text-center">
                <th style="width: 75px">
                    Rank
                </th>
                <th style="width: 350px">
                    Title
                </th>
                <th style="width: 75px">
                    Votes
                </th>
            </tr>
            @foreach (var manga in Model.Mangas)
            {
                <tr class="topmanga-tr">
                    <td class="text-center" style="font-size: 28px">
                        @{
                            rank++;
                        }
                       @rank
                    </td>
                    <td>
                        <div class="d-flex">
                            <div>
                                @if (manga.ImageName == null)
                                {
                                    <img src="~/Img/default-image.png" style="width: 70px; height: 90px" />
                                }
                                else
                                {
                                    <img alt="Image not found" src="@("~/ImageFromUsers/"+manga.ImageName)" asp-append-version="true" style="width: 70px; height: 90px" />
                                }
                            </div>
                            <div class="pl-3">
                                <span style="font-size: large">@manga.MangaName</span>
                                <br />
                                <br />
                                @manga.StartDate
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        @manga.Votes
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

