@model DetailsChaptersViewModel

@{
    ViewData["Title"] = $"{Model.Title} - Details";
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1>Title: <b>@Model.Title</b></h1>
    </div>
</div>
<div class="mt-5">
    <textarea class="w-100" style="height: 300px; color: black; background-color: silver; font-size: large; border-radius: 1%">@Model.Story</textarea>
</div>

