.anime-form {
    display: inline-block;
    margin: 3% 0% 0% 2%;
    width: 300px;
}
.title{
    font-size: 125%;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.options-bar{
    text-decoration: none;
    color: silver;
}
.options-bar:hover{
    text-decoration: none;
    color: #ffd666;
    cursor: pointer;
}
#GoTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}
#GoTopBtn:hover{
  background-color: #333;
}
