@{
    @model MangasViewModel
}

<h1>Manga index view</h1>

@{
    foreach (var manga in Model.Mangas)
    {
        <li>
            <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                @manga.MangaName
            </a>
            |
            <a asp-controller="Manga" asp-action="Update" asp-route-id="@manga.Id">
                Update
            </a>
            |
            <a asp-controller="Manga" asp-action="Delete" asp-route-id="@manga.Id">
                Delete
            </a>
        </li>
    }
}
