@model CreateChaptersBindingModel

@{
    ViewData["Title"] = $"Create chapters";
}

<h1>Create</h1>

<h4>Chapter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story" class="control-label"></label>
                <textarea asp-for="Story" class="w-100"></textarea>
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangaId" class="control-label"></label>
                <select asp-for="MangaId" class="form-control">
                    @foreach (var manga in ViewBag.Mangas)
                    {
                        <option value="@manga.Id">@manga.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
